@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

*{font-family: 'Playfair Display', serif;
}
body{
	margin: o;
}
.container{
	width: 80%;
	margin:  0 auto;
}
header{
	background: coral;
	color: whitesmoke;
}
header h1{
	line-height: 50px;
}
nav{
	background: skyblue;
	line-height: 1.6em;

}
nav li{
	margin: o;
	display: inline;
	
}
nav li a{
	text-decoration: none;
	color: whitesmoke;
}
nav li a:hover{
	color: red;
}
main{
	display: flex;
	min-height: 300px;
}
article{
	width: 80%;
	padding:0.30px;
}
aside{
	width: 20%;
	background: dimgray;
	color: white;
	padding: 30px;
}
aside img{
	max-width:100%;
	margin: 0 auto;
}
footer{
	background: gray;
	color: white;
	margin-top: 50px;
	text-align: center;
}
@media(max-width: 800px){
	main{
		flex-wrap: wrap;
	}
	article{
		width: 100%;
	}
	aside{
		width: 100%;
	}
}