@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

*{font-family: 'Playfair Display', serif;
}
body{
	margin: o;
}
.container{
	width: 80%;
	margin:  0 auto;
}
header{
	background: darkblue;
	color: whitesmoke;
}
header img{
	max-width:70px;
	margin: 0 auto;
}




header h1{
	line-height: 50px;
}
nav{
	background: cadetblue;
	line-height: 2em;
	font-size: 20px;

}
nav li{
	margin: o;
	display: inline;
	
}
nav li a{
	text-decoration: none;
	color: whitesmoke;
}
nav li a:hover{
	color: red;
}


footer{
	background: black;
	color: white;
	margin-top: 50px;
	text-align: center;
}
@media(max-width: 800px){
	main{
		flex-wrap: wrap;
	}
	article{
		width: 100%;
	}
	aside{
		width: 100%;
	}
}

body{
	background-image: url(images/fire.jpg);
}




main{
	max-width: 500px;
	width: 100%;
	background: lemonchiffon;
	margin: 20px auto;
	padding: 30px;
}
main .title{
	font-size: 24px;
	font-weight: bold;
	color: darkkhaki;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}
main .form{
	width: 100%;
}
main .form .input_field{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
main .form .input_field label{
	width: 200px;
	color: darkkhaki;
	font-size: 14px;
}
main .form .input_field .input,
main .form .input_field .textarea{
	width: 100%;
	outline: none;
	border: 1 px solid #darkkhaki;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}
main .form .input_field .textarea{
	resize: none;
	height: 125px;
}
	main .form .input_field .btn{
		width: 100%;
		padding: 8px 10px;
		font-size: 15px;
		border: 0;
		background: darkkhaki;
		color: lemonchiffon;
		cursor: pointer;
		border-radius: 3px;
	}
	main .form .input_field .btn:hover{
		background: darkkhaki;
	}

